@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

/* Navbar */
.navbar {
  padding-top: 0.25rem;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  height: 4.75rem;
  width: 100%;
}
.navbar-brand img {
  width: 12rem;
  margin-left: 11.5rem;
}
.navbar-nav {
  margin-left: auto;
}
.nav-link {
  font-size: 1rem;
  color: black !important;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  padding: 0.5rem 2rem 0.5rem 0;
}
.nav-link:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
.navbar-tabs .nav-tabs {
  border-bottom: none;
}
.navbar-tabs .nav-tabs .nav-link {
  border: none;
  padding: 0 2rem 0 0;
}

/* Dropdown */
.menu {
  margin-left: 3rem;
}
.dropdown {
  font-size: 1.2rem;
  position: relative;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.dropdown-item {
  font-size: 1rem;
  font-family: 'Cormorant', serif;
  font-weight: 600;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
  display: none !important;
}

/* Footer */
footer {
  margin-top: 3rem;
}
footer .col-md-2 {
  padding: 0;
}
footer h4 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
footer .social {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
footer .social svg {
  color: gray;
}
footer .social svg:hover {
  color: black;
}
footer .nav-link {
  font-family: 'Belgrano, sans-serif';
  font-weight: 500;
  line-height: 0.75rem;
}
footer .social a {
  text-decoration: none;
  color: inherit;
}
footer .cpr {
  text-align: center;
  margin-top: 2.5rem;
}

/* Tags Styles */
.tags {
  margin: 0.25rem 0 0 0;
  padding: 0;
  background: black;
}
.tags .row {
  opacity: 90%;
  color: white;
  text-align: center;
}
.tags .col-md-4 {
  font-size: 0.92rem;
  padding: 0.4rem 0;
  margin: 0.6rem 0;
}
.tags a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.tags a span {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.scrolling-row {
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Ratings */
.rating span {
  margin: 0.1rem;
}
.rating svg {
  color: #f8e825;
}
.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.25rem;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-brand img {
    margin: auto;
  }
  .navbar-nav {
    flex-direction: row;
    text-align: center;
    margin: auto;
  }
  .tags .col-md-4 {
    margin: 0.25rem 0;
    padding: 0.4rem 0;
  }
  footer {
    padding: 1rem;
    margin: 0;
    text-align: center;
  }
  footer h4 {
    margin-top: 0.5rem;
  }
  footer .cpr {
    margin-top: 2rem;
  }
  footer .social {
    justify-content: space-evenly;
  }
}
