/* Products */
.products,
.product {
  margin: 1rem 0;
  position: relative;
}
.product {
  box-shadow: 0.5rem;
}
.product .heart {
  position: absolute;
  top: 12px;
  right: 18px;
  cursor: pointer;
  color: white;
  z-index: 2;
}
.product img {
  height: 20rem;
  width: 100%;
}
.product .badge {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  border-radius: 0;
  padding: 0.75rem;
  z-index: 1;
}
.product .card-body a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.product .card-body p {
  margin-bottom: 0;
}

.prodTabs .nav-link {
  padding: 0.5rem 0;
}

/* Sort */
.proselect select {
  padding: 0.5rem;
  width: 80%;
  border: 1px solid gray;
  box-shadow: none;
  margin: 0.25rem;
}

/* ProductSearch */
.productsearch .form-control,
.productsearch .btn {
  border: 1px solid gray;
  box-shadow: none;
  margin: 0.25rem 0;
}
.productsearch .form-control {
  border-radius: 0.5rem 0 0 0.5rem;
}
.productsearch .btn {
  border-radius: 0 0.5rem 0.5rem 0;
}

/* Single Product */
.product-details img {
  width: 100%;
  height: 30rem;
}

/* Product Slider */
.main-slide {
  position: relative;
}
.slick-slide {
  padding: 0.5rem;
}
.main-slide .card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-slide .card .card-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.main-slide .card .card-heading {
  text-align: center;
  margin-bottom: 0.25rem;
}
.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.custom-prev-arrow {
  left: -20px;
}
.custom-next-arrow {
  right: -20px;
}
.main-slide .slick-prev,
.main-slide .slick-next {
  font-size: initial;
  line-height: initial;
  position: absolute;
  top: 45%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  z-index: 99;
  outline: none;
}
.main-slide .slick-prev::before,
.main-slide .slick-next::before {
  content: '';
}
.main-slide .slick-next {
  right: 20px;
}
.main-slide .slick-prev {
  left: -1px;
}

/* Image Gallery */
.image-gallery {
  width: 100%;
  height: 100%;
}
.image-gallery-thumbnail img {
  height: 7rem;
  width: 10rem;
}
.image-gallery-image {
  object-fit: fill !important;
}
.image-gallery-svg {
  height: 5rem !important;
  width: 5rem !important;
}
.image-gallery-right-nav .image-gallery-svg {
  margin-right: -1.5rem;
}
.image-gallery-left-nav .image-gallery-svg {
  margin-left: -1.5rem;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .product {
    margin: 0.75rem 0;
  }
  .product img {
    height: 15rem;
  }
  .proselect select {
    width: 86%;
  }
  .proselect,
  .productsearch,
  .products {
    margin-top: 0.25rem;
  }
  .product-details img {
    height: 20rem;
    margin-bottom: 1rem;
  }
  .product-details .quantity {
    width: 5rem;
    box-shadow: none;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
  }
}
